[include]
    path = ~/configs/git/.mygitconfig
    path = ~/privateConfigs/.github_config_token
    path = ~/.gitconfig.extra
[pull]
	ff = only
[core]
	excludesfile = /Users/psanzo/configs/git/.gitignore_global
[rebase]
	autoStash = true
[init]
	defaultBranch = master
